<a href="https://colab.research.google.com/github/gbiamgaurav/W3_Schools/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def my_function():
  print("Hello World")

In [2]:
my_function()

Hello World

In [3]:
def my_function(fname):
  print(fname + 'Gaurav')

my_function('Emil')
my_function('Tobias')
my_function('Linus')

EmilGaurav
TobiasGaurav
LinusGaurav

In [4]:
def my_function(fname, lname, age, profession):
  print(fname + " " + lname, " ", age, " ", profession)

my_function('Gaurav', 'Bhattacharya', 32, 'Banker')

Gaurav Bhattacharya   32   Banker

In [5]:
def my_function(fname, lname):
  print(fname + " " + lname)

In [6]:
my_function('Gaurav', 'Bhattacharya')

Gaurav Bhattacharya

In [7]:
def my_function(*kids):
  print("the youngest child is " + kids[2])

In [8]:
my_function("Emil", 'Tobias', 'Linus')

the youngest child is Linus

In [9]:
def my_function(child1, child2, child3):
  print('The Youngest child is ' + child3)

my_function(child1='Emil', child2='Tobias', child3='Linus')

The Youngest child is Linus

In [10]:
def my_function(**kid):
  print('His last name is ' + kid['lname'])

my_function(fname = 'Gaurav', lname = 'Bhattacharya')

His last name is Bhattacharya

In [11]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [12]:
def my_function(name = 'Gaurav'):
  print("My name is " + name)

my_function('Rahul')
my_function('Sunil')
my_function()
my_function('Byomkesh')

My name is Rahul
My name is Sunil
My name is Gaurav
My name is Byomkesh

In [13]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "mango"]

my_function(fruits)

apple
banana
mango

In [14]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(4))
print(my_function(5))

15
20
25

In [15]:
def my_function():
  pass

In [16]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [20]:
def my_function(x):
  return x + 5

print(my_function(10))

15

In [21]:
my_function(10)

15