<a href="https://colab.research.google.com/github/gbiamgaurav/W3_Schools/blob/main/If_else%2C_while_loops%2C_for_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 33
b = 200

if b > a:
  print('b is greater than a')

b is greater than a

In [2]:
a = 33
b = 33
if b > a:
  print("b is greater than a")

elif a == b:
  print('a and b are equal')

a and b are equal

In [3]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print('a is greater than b')

a is greater than b

In [4]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print('a is greater than b')

a is greater than b

In [5]:
if a > b: print('a is greater than b')

a is greater than b

In [6]:
a = 2
b = 330

In [8]:
print('A') if a > b else print('B')

B

In [9]:
a = 330
b = 330

print('a') if a > b else print ('=') if a == b else print('b')

=

In [10]:
a = 200
b = 33
c = 500

In [11]:
if a > b and c > a:
  print('Both conditions are true')

Both conditions are true

In [12]:
a = 200
b = 33
c = 500

if a > b or c > a:
  print('At least one of the condition is true')

At least one of the condition is true

In [13]:
x = 41 

if x > 10:
  print('Above Ten,')
  if x > 20:
    print('And also above 20!')
  else:
    print('but not above 20')

Above Ten,
And also above 20!

In [14]:
a = 33
b = 200

if b > a:
  pass

In [15]:
a = 50
b = 10

In [16]:
if a > b:
  print('Hello World')

Hello World

In [17]:
if a != b:
  print('Hello World')

Hello World

In [18]:
a = 50
b = 10

if a == b:
  print('Yes')
else:
  print("No")

No

In [19]:
a = 50
b = 10

if a == b:
  print("1")
elif a > b:
  print("2")
else:
  print("3")

2

In [20]:
if a == b and c == d:
  print("Hello World")

In [21]:
if a == b or c == d:
  print('Hello World')

NameError: ignored

In [22]:
if 5 > 2:
  print('Five is greater than 2')

Five is greater than 2

In [23]:
if 5>2: print("five is greater than 2")

five is greater than 2

In [26]:
print('Yes') if 5 > 2 else print('No')

Yes

In [27]:
i = 1

while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [28]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [29]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [31]:
i = 1

while i < 6:
  print(i)
  i += 1
else:
  print("i is longer less than 6")

1
2
3
4
5
i is longer less than 6

In [32]:
fruits = ["apple", "banana", "cherry"]

In [33]:
for x in fruits:
  print(x)

apple
banana
cherry

In [34]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [35]:
fruits = ["apple", "banana", "cherry"]

In [37]:
for x in fruits:
  print(x)
  if x == "banana":
    print(x)

apple
banana
banana
cherry

In [38]:
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [39]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
  print(x)
  if x == 'banana':
    break
  print(x)

apple
apple
banana

In [40]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
  print(x)
  if x == 'banana':
    continue
  print(x)

apple
apple
banana
cherry
cherry

In [41]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [42]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [43]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [44]:
for x in range(10, 1000, 50):
  print(x)

10
60
110
160
210
260
310
360
410
460
510
560
610
660
710
760
810
860
910
960

In [45]:
for x in range(6):
  print(x)
else:
  print('finally finished')

0
1
2
3
4
5
finally finished

In [46]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print('Finally finished')

0
1
2

In [47]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

In [48]:
for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [49]:
for x in [0, 1, 2]:
  pass