<a href="https://colab.research.google.com/github/gbiamgaurav/W3_Schools/blob/main/Inheritance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Classes / Objects

In [1]:
class myclass:
  x = 5

In [2]:
p1 = myclass()

print(p1.x)

5

In [3]:
class person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = person("John", 36)

In [5]:
print(p1.name)

John

In [6]:
print(p1.age)

36

In [8]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x7eff37bc0e50>

In [11]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name},{self.age}"

p1 = Person('John', 36)

In [12]:
print(p1)

John,36

In [13]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person('John', 36)
p1.myfunc()

Hello my name is John

In [19]:
class car:
  def __init__(self, name, color, model):
    self.name = name
    self.color = color
    self.model = model

  def myfunc(self):
    print("Hi i have an {} with {} color with top end {} model ".format(self.name, self.color, self.model))


c1 = car('Audi', 'black', 'VXI')
c1.myfunc()

Hi i have an Audi with black color with top end VXI model

In [32]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is {} and my age is {}" .format(abc.name, abc.age))

p1 = Person("John", 36)

In [33]:
print(p1.myfunc())

Hello my name is John and my age is 36
None

In [34]:
p1.myfunc()

Hello my name is John and my age is 36

In [35]:
p1.age = 40

In [36]:
p1.myfunc()

Hello my name is John and my age is 40

In [37]:
p1.name = 'Gaurav'
p1.age = 33

In [38]:
p1.myfunc()

Hello my name is Gaurav and my age is 33

In [39]:
del p1.age

In [40]:
p1.myfunc()

AttributeError: ignored

In [41]:
del p1

In [42]:
class Person:
  pass

## Inheritance

In [44]:
class Person:
  def __init__(self, fname, lname):
    self.fname = fname
    self.lname = lname

  def printname(self):
    print(self.fname, self.lname)

## use the Person class to create an object and then execute the printname method

x = Person("John", "Defoe")
x.printname()

John Defoe

In [50]:
class student:
  def __init__(self, fname, lname, age, standard, section):
    self.fname = fname
    self.lname = lname
    self.age = age
    self.standard = standard
    self.section = section

  def printname(self):
    print(self.fname, self.lname, self.age, self.standard, self.section)

y = student('Ankit', 'Sharma', 15, '6th', 'A')
y.printname()

Ankit Sharma 15 6th A

In [53]:
class student(Person):
  pass

In [54]:
x = student("Mike", "Peter")

x.printname()

Mike Peter

In [55]:
class driver(student):
  pass

In [56]:
y = driver("Gaurav", "Bhattacharya")

y.printname()

Gaurav Bhattacharya

In [60]:
class student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

In [61]:
class student(Person):
  def __init__(self, fname, lname):
    super().__init__(self,fname,lname)

In [63]:
class student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2022

In [64]:
class student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

In [65]:
x = student('Mike', 'Olsen', 2022)

In [66]:
print(x)

<__main__.student object at 0x7eff37ab97d0>

In [67]:
x

In [69]:
class student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print('Welcome', self.fname, self.lname, "to the classes of", self.graduationyear)

In [70]:
class Person:
  def __init__(self, fname):
    self.firstname = fname

  def printname(self):
    print(self.firstname)

class Student(Person):
  pass

x = Student("Mike")

In [71]:
x.printname()

Mike