<a href="https://colab.research.google.com/github/gbiamgaurav/W3_Schools/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
mytuple = ("apple", "banana", "cherry")

In [5]:
myit = iter(mytuple)
print(myit)

<tuple_iterator object at 0x7fe0daddaa10>

In [3]:
print(next(myit))

apple

In [7]:
print(next(myit))

banana

In [8]:
print(next(myit))

cherry

In [9]:
mystr = "banana"

In [11]:
myit = iter(mystr)

In [12]:
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n

In [13]:
print(next(myit))

a

In [14]:
mytuple = ("apple", "banana", "cherry")

In [15]:
for x in mytuple:
  print(x)

apple
banana
cherry

In [16]:
mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

In [22]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

In [23]:
myclass = MyNumbers()
myiter = iter(myclass)

In [24]:
print(next(myiter))

1

In [25]:
print(next(myiter))

2

In [27]:
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

7
8
9
10
11
12
13

In [28]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

In [29]:
myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

### Scope

In [30]:
def myfunc():
  x = 300
  print(x)

In [31]:
myfunc()

300

In [32]:
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

In [33]:
myfunc()

300

### Global Scope

In [34]:
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

In [35]:
x = 300

def myfunc():
  x = 200
  print(x)

In [36]:
myfunc()

200

In [37]:
print(x)

300

In [38]:
def myfunc():
  global x
  x = 300

myfunc()

print(x)

300

In [39]:
x = 300

def myfunc():
  global x
  x = 200

myfunc()

print(x)

200

## Modules