In [1]:
import pandas as pd
import numpy as np

In [2]:
data = 'https://www.w3schools.com/python/pandas/data.csv.txt'

In [3]:
df = pd.read_csv(data)

In [5]:
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [6]:
df.isnull().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

In [10]:
X = df['Calories'].median()

df['Calories'].fillna(X, inplace=True)
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [11]:
df.isnull().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [12]:
## Correlation

df.corr()

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.155408  0.009403  0.922412
Pulse    -0.155408  1.000000  0.786535  0.028099
Maxpulse  0.009403  0.786535  1.000000  0.205172
Calories  0.922412  0.028099  0.205172  1.000000